<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" (click)="reset()">NFL Divisions</a>

      <div *ngIf="teamName != ''">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/roster']"><u>{{teamName}} Roster</u></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/coaches']"><u>{{teamName}} Coaches</u></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
